:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary: #145181;

}

.color {
    color: var(--primary)
}

body {
    background-color: #f1f1f1;
    max-width: 700px;
    margin: auto;
    color: #222;
}

.container {
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    margin-bottom: 5rem;
}

.bold {
    font-weight: bold;
    /* text-decoration: underline; */
}

hr {
    /* height: 2px; */
    border-width: 1px;
    border-style: solid;
    color: #ddd;
    margin: 2rem 0 2rem 0;
}

li {
    margin: 0 0 1rem 0;

}

/* li::before {
    content: counter(li);
    font-weight: bold;
} */

/* div:last-of-type {
    margin-bottom: 5rem;
} */

h2 {
    color: var(--primary);
}

a {
    padding: 0 1rem 0 0;
    line-height: 1.5rem;
}

a:link,
a:visited {
    color: var(--primary)
}

p,
li {
    line-height: 1.4rem
}

.wazne {
    /* background-color: chocolate; */
    padding: 1rem;
    border: 1px solid #999;
}